<div class="container">
title: <%= @story.story_title %>
<br>
<br>
cotent: <%= @story.story_body %>

<p class="story-comment-counts"> this post has <%= (pluralize(@comments.count, 'comment')) %></p>

<span class="whose-comment"></span>

<%= render "comments/form" %>

<%= content_tag :div, id: "comments", data: { url: story_comments_url(@story)} do %>
  <%= render @comments %>
<% end %>
</div>
</div>
